{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1>Type</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ type.name }}</td>
            </tr>
            <tr>
                <th>Base_strength</th>
                <td>{{ type.baseStrength }}</td>
            </tr>
            <tr>
                <th>Base_speed</th>
                <td>{{ type.baseSpeed }}</td>
            </tr>
            <tr>
                <th>Base_magic</th>
                <td>{{ type.baseMagic }}</td>
            </tr>
            <tr>
                <th>Base_defense</th>
                <td>{{ type.baseDefense }}</td>
            </tr>
            <tr>
                <th>Base_xp</th>
                <td>{{ type.baseXp }}</td>
            </tr>
            <tr>
                <th>Base_life</th>
                <td>{{ type.baseLife }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_index') }}">back to list</a>

    <a href="{{ path('app_type_edit', {'id': type.id}) }}">edit</a>

    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
